<style>html,body { padding: 0; margin:0; }
    p{
            text-align: justify;
    }
</style>
<div style="font-family:Arial,Helvetica,sans-serif; line-height: 1.5; font-weight: normal; font-size: 15px; color: #2F3044; min-height: 100%; margin:0; padding:0; width:100%; background-color:#edf2f7">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;margin:0 auto; padding:0; max-width:1080px">
<tbody>
<tr>
<td align="center" valign="center" style="text-align:center; padding: 40px">
</a>
</td>
</tr>
<tr>
<td align="left" valign="center">
<div style="text-align:left; margin: 0 20px; padding: 130px; background-color:#ffffff; border-radius: 6px">
    <img align="right" src="https://lset.simtrak.in/logo_circle.png" style="padding-left: 100px" height="150" width="200">
    <h2>Life Science Education Trust</h2></br></br></br></br>
    <h3 align="center">TRAINING ACCEPTANCE LETTER</h3>
    <h4 align="right">Date: Oct 22, 2022</h4>
    <strong>Dear Trisha Ninad Khatu,</strong>
    <p><strong>Life Science Education Trust (LSeT)</strong> is a specialised skill development training initiative in the field of
        exotic animal care, management, research and development with elaborate training programs and
        practical applications.</p>
    <p>We are extremely pleased to offer you to be a part of Life Science Education Trust as a <b>Trainee</b>. We
        assure you that with your own hard work, sincerity and desire to learn, you can play an important
        role in converting this opportunity into a successful training and learning process.</p>
    <p>You will be part of <b>Level 1 Basic Training,</b> and will be assigned tasks as per the schedule of the
        training program. <b>The training program will start from Nov 12, 2022 .</b></p>

    <strong>Your Joining Date is Nov 12, 2022</strong>
    <p>We request you to kindly understand the rules and regulations governing your association with us for
        the smooth functioning of the training program.
    </p>

    <strong>
        <ol>
            <li>Food and accommodation will be provided by us.</li></br>
            <li>Stipend will be given at completion of the training program at the end of the third month (Rs.
                5000*3 = Rs. 15000). If you do not get selected after the evaluation at the end of first month, you
                will not receive any stipend.</li></br>
            <li> Only vegetarian food is allowed for trainees. No smoking, Alcohol or substance abuse allowed.</li></br>
           <li> Normal day starts at 6:00 am and ends around 7:00 pm.</li></br>     
            <li>Any deviation, negligence, lack of punctuality, or unauthorised activities will be treated as
                indiscipline and will result in termination of the appointment.</li></br>
            <li>During the training program, you will not engage yourself in any other assignments without the consent of the management.</li></br>
            <li>Your training location will be Bangalore, subject to change at the discretion of the management.</li></br>
        </ol>
    </strong>
    <p>Kindly sign a copy of this letter in acceptance of the above-mentioned terms and conditions and return the
        same for our records.</p>
    <img src="https://lset.simtrak.in/sign_soham.jpg">
    <p>Soham Mukherjee </br>
        Program Director, LSeT</br>
        <b>Oct 22, 2022
        </b></p>
    </br><hr>
    
    </br>
    <div align="center">Agrahara Village Main Road, BBMP Ward #5, Yelahanka</br></br>
        Bengaluru, Karnataka-560064</br></br>
        87800 84480 | info@lifesciencetrust.com</div>
<div style="padding-bottom: 10px; font-size: 17px;">
</div>
</td>
</tr>
</tbody>
</table>
</div>