<style>html,body { padding: 0; margin:0; }
        p{
            text-align: justify;
        }
</style>
<div style="font-family:Arial,Helvetica,sans-serif; line-height: 1.5; font-weight: normal; font-size: 15px; color: #2F3044; min-height: 100%; margin:0; padding:0; width:100%; background-color:#edf2f7">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;margin:0 auto; padding:0; max-width:1080px">
<tbody>
<tr>
<td align="center" valign="center" style="text-align:center; padding: 40px">
</a>
</td>
</tr>
<tr>
<td align="left" valign="center">
<div style="text-align:left; margin: 0 20px; padding: 130px; background-color:#ffffff; border-radius: 6px">
    <img align="right" src="https://lset.simtrak.in/logo_circle.png" style="padding-left: 100px" height="150" width="200">
    <h2>Life Science Education Trust</h2></br></br></br></br>
    <h3 align="center">Farm Visit for Selection
    </h3>
    <h4 align="right">Date: Jan 15, 2023</h4>
    <strong>Dear Trisha Ninad Khatu,</strong>
    <p><strong>Life Science Education Trust (LSeT)</strong> is a specialised skill development training initiative in the field of
        exotic animal care, management, research and development with elaborate training programs and
        practical applications.
        </p>
    <p><strong>Team LSeT</strong> is pleased to invite you to our farm at Bangalore for the <strong>selection process of ‘Level 1:
        Basic Training Program’ for 3 days.</strong></p>
    <p>We hope you will understand and enjoy the different activities at the farm during your selection
        period and believe that you will gain knowledge, skills and experience from this visit.</p>

    <p>These 3 days at the farm will entail detailed observations of all assigned tasks during each day.
        <strong>Continuation of your training program will be based on the outcome of these observations and
            evaluations by LSeT management.</strong> If not selected, you will be required to return back after
        evaluation at the earliest possible. In case you are not selected, you will be entitled to
        reimbursement of your actual travel expenses or Rs. 2000 (whichever is lower), within 7 days.
        
    </p>
    <p>The Observation Program starts on <strong>Feb 16, 2023</strong> and your evaluation will be on <strong>Feb 19, 2023 .</strong>
    </p>

    <strong>You will be required to reach the farm on Feb 15, 2023
    </strong>

    <p>We look forward to a meaningful journey with you!
    </p>
    <img src="https://lset.simtrak.in/sign_soham.jpg">
    <p>Soham Mukherjee </br>
        Program Director</br>
        <b>Jan 15, 2023
        </b></p>
    </br>  <hr>
    
</br>
    <div align="center">Agrahara Village Main Road, BBMP Ward #5, Yelahanka</br></br>
        Bengaluru, Karnataka-560064</br></br>
        87800 84480 | info@lifesciencetrust.com</div>
<div style="padding-bottom: 10px; font-size: 17px;">
</div>
</td>
</tr>
</tbody>
</table>
</div>